<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fri.crkoris">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LearningActivity"
            android:label="Learn"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="fri.myapplication.LearningActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChallengeActivity"
            android:label="Test" />
        <activity
            android:name=".activities.StatisticsActivity"
            android:label="Statistics" />
        <activity
            android:name=".activities.DrawActivity"
            android:label="@string/title_activity_draw" />
        <activity android:name=".activities.LanguageActivity"
            android:label="Languages"/>
    </application>

</manifest>
